{% extends 'base.html.twig' %}

{% block title %}Apros de nous {% endblock %}

{% block body %}
<div class="container py-2">

    <div class="jumbotron">
        <h1>Bienvenue sur mon supper Agence de location !</h1>
        <p class="lead">
            Nous sommes une agence de location d'appartements en ligne sur l'ensemble de la ville de BamaKo et ses
            environs. Vous pouvez mettre vos annonces sur notre site ou réserver en ligne depuis chez vous en toutes
            sécurité.
            Notre but est de satisfaire le maaximum possible de personnes à la recherche d'un logement de courte durée ou
            longue.
        </p>
        <hr class="my-4">
        <p>Vous êtes voyeurs ou tout simplement à la recheche d'uppartement pour vous loger ?</p>
        <p class="lead">
            <a class="btn btn-success btn-lg" href="#" role="button">Learn more</a>
        </p>

    </div>

    </div>
{% endblock %}