{% extends "base.html.twig" %}
{% block title %} Nos ~ favories {%  endblock %}

{% block body %}
<div class="row" style="margin-top: 300px !important;">
    {% include 'post/favory.html.twig' %}
</div>

{% endblock %}