{% extends 'base.html.twig' %}

{% block title %}Modifier le mot de passe !{% endblock %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block body %}


    <div class="">
          <h1>Modifier le mot de passe</h1>
       <a class="btn btn-info text-light mb-1" href="{{ path('compte_index') }}">Retouner à mon compte</a>
    </div>
    <div class="card bg-light">

        <div class="col-md-6 m-auto">
            {{ form(form) }}
        </div>
{% endblock %}